. {
  margin:0;
  box-sizing: border-box;
  overflow-x: hidden;
  height:100vh;
  width: 100%;
  /*image credit: https://wallpapercave.com/purple-aesthetic-computer-wallpapers
  background-image : url(/images/indexbg.png);*/
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: content-box;
  position: relative;
}

/* Global classes */
a {
  text-decoration: none;

}

.flex-row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
}

h3{
  font-family:'Open Sans Condensed', sans-serif;
  font-size: 1.3rem;
}

button.btn{
  border: none;
  border-radius: 5rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

/* for the navigation bar */
.navbar{
  width:100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center:
}

.logo{
  width: 210px;
  height: 150px;
  cursor: pointer;
}

nav {
  margin:5 auto;
  width:100%;
  height:auto;
  display:inline-block;
  font-style: italic;
  font-family: cursive;
  font-size: 20px;

}

nav ul {
  margin:0;padding:0;
  list-style-type:none;
  float:left;
  display:inline-block;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
}

li > a:after { content: ' ▽'; } /* Change this in order to change the Dropdown symbol */

li > a:only-child:after { content: ''; }

nav ul li a {
  padding:20px;
  display:inline-block;
  color:black;
  text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
  display:none;
  position: absolute;
  left:0;
  background:#ffffff;
  float:left;
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
}

nav ul li:hover ul {
  display:block;
}

/* Main content */
main .site-title {
  background: url(/images/mainimg.jpeg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center
}

main .site-title .site-background{
  padding-top: 10rem;
  text-align: center;
  color: black;
}

main .site-title h1, h3{
  margin: .3rem;
}

main .site-title .btn{
  margin: 1.8rem;
  background-color: lightblue;
}

 main .site-title .btn:hover{
   background: transparent;
   border: 1px solid black;
 }

 /* Blog Carousel*/
main .blog{
  background: url("/images/liquidsplash.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
}

main .blog .blog-post{
  padding-top: 6rem;
}

main .blog-post .blog-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px;
}
